[color]
	ui = auto

[alias]
	master     = checkout master
	unstage    = reset -q HEAD --
	discard    = checkout --
	rewrite    = rebase -i
	restore    = reset --hard
	save       = commit -m
	amend      = commit --amend
	addall     = add .
	append     = add -p
	cached     = diff --cached
	back       = checkout "-"
	summary    = status -u -s
	remotes    = remote -v
	tags       = tag
	branches   = branch -a
	stashes    = stash list
	uncommit   = reset --mixed HEAD~
	undo       = "!f(){ git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	unedit     = reset --hard
	unmerged   = branch --no-merged
	unstash    = stash pop
	untrack    = rm -r --cached
	backto     = reset --hard HEAD^
	newbranch  = checkout -b
	dropbranch = branch -d
	forcedropbranch = branch -D
	show-graph = log --graph --abbrev-commit --pretty=online
	history    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last       = log -1 HEAD --format=format:\"%Cred%H\"
	notpushedyet = log @{u}..HEAD --format="- %H %s"
	what       = show -w
	nbr        = checkout -b
	npy        = log @{u}..HEAD --format=\"- %H %s\"
	dbr        = branch -d
	fdbr       = branch -D
	aa = add .
	br = branch
	co = checkout
	c = commit
	ca = commit --amend
	cm = commit -m
	d = diff
	dc = diff --cached
	dl = diff HEAD^ HEAD
	ds = diff HEAD^ HEAD --stat
	l = log
	lo = log --pretty=online
	lp = log -p
	s  = status

[core]
	quotepath = false
	autocrlf = false
	safecrlf = false
	editor = vim
